@model BackEndProject.ViewModel.UserVM

<aside class="right-side right-padding">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <!--section starts-->
        <h2>Add User</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index","Home")">
                    <i class="fa fa-fw fa-home"></i> Dashboard
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index","User")">Users</a>
            </li>
            <li>
                <a href="@Url.Action("Modify","User")" class="activated">Add User</a>
            </li>
        </ol>
    </section>
    <!--section ends-->
    <div class="container-fluid">
        <!--main content-->
        <div class="row">
            <div class="col-lg-12">
                <!-- Basic charts strats here-->
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <i class="fa fa-fw fa-user"></i> Add User
                        </h4>
                        <span class="pull-right">
                            <i class="glyphicon glyphicon-chevron-up showhide clickable"></i>
                            <i class="glyphicon glyphicon-remove removepanel"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">

                                @using (Html.BeginForm(Model.Action, "User", FormMethod.Post, new { @class = "form-horizontal",enctype="multipart/form-data" }))
                                {
                                <div class="form-body">
                                    <div class="form-group">

                                        @Html.LabelFor(m => m.User.Image,new { @class = "col-md-3 control-label" })
                                        <div class="col-md-7 text-center">
                                            <div class="input-group">
                                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                                    <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                                        @if (Model.User.Image != null)
                                                        {

                                                            <img data-src="~/Content/img/@Model.User.Image" src="~/Content/img/@Model.User.Image" alt="profile">

                                                        }
                                                        else
                                                        {
                                                            <img data-src="holder.js/200x150" src="#" alt="profile">

                                                        }
                                                    </div>
                                                    <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
                                                    <div class="select_align">
                                                        <span class="btn btn-primary btn-file">
                                                            <span class="fileinput-new">Select image</span>
                                                            <span class="fileinput-exists">Change</span>
                                                            <input type="file" name="file">
                                                        </span>
                                                        <a href="#" class="btn btn-primary fileinput-exists" data-dismiss="fileinput">Remove</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">

                                        @Html.LabelFor(m => m.User.Fullname, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-fw fa-user-md text-primary"></i>
                                                </span>
                                                @Html.TextBoxFor(m => m.User.Fullname, new { @class = "form-control", placeholder = "Username", required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.User.Email, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-envelope text-primary"></i>
                                                </span>
                                                @Html.TextBoxFor(m => m.User.Email, new { @class = "form-control", placeholder = "example@gmail.com", required = "required", id = "mail" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.User.Number, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-fw fa-phone text-primary"></i>
                                                </span>
                                                @Html.TextBoxFor(m => m.User.Number, new { @class = "form-control", placeholder = "0505555555", required = "required", id = "contact" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.User.Gender, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <label>
                                                    @Html.RadioButtonFor(m => m.User.Gender, "Male", new { @class = "radio_val" }) Male
                                                </label>
                                                <label class="pad-left">
                                                    @Html.RadioButtonFor(m => m.User.Gender, "Female", new { @class = "radio_val" }) Female
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.User.Address, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-plus text-primary"></i>

                                                </span>
                                                @Html.TextBoxFor(m => m.User.Address, new { @class = "form-control", placeholder = "Address", required = "required", id = "addr" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.User.City, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-plus text-primary"></i>
                                                </span>
                                                @Html.TextBoxFor(m => m.User.City, new { @class = "form-control", placeholder = "City", id = "city" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.User.Pincode, new { @class = "col-md-3 control-label" })

                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-plus text-primary"></i>
                                                </span>
                                                @Html.TextBoxFor(m => m.User.Pincode, new { @class = "form-control", placeholder = "Address", id = "pin" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.User.Country, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-7">
                                            <select id="select23" name="User.Country" class="form-control js-states select2">
                                                <optgroup label="Alaskan/Hawaiian Time Zone">
                                                    <option value="">Select a country</option>
                                                    <option value="AZ">Azerbaijan</option>
                                                    <option value="HI">Hawaii</option>
                                                </optgroup>
                                                <optgroup label="Pacific Time Zone">
                                                    <option value="CA">California</option>
                                                    <option value="NV">Nevada</option>
                                                    <option value="OR">Oregon</option>
                                                    <option value="WA">Washington</option>
                                                </optgroup>
                                                <optgroup label="Mountain Time Zone">
                                                    <option value="AZ">Arizona</option>
                                                    <option value="CO">Colorado</option>
                                                    <option value="ID">Idaho</option>
                                                    <option value="MT">Montana</option>
                                                    <option value="NE">Nebraska</option>
                                                    <option value="NM">New Mexico</option>
                                                    <option value="ND">
                                                        North Dakota
                                                    </option>
                                                    <option value="UT">Utah</option>
                                                    <option value="WY">Wyoming</option>
                                                </optgroup>
                                                <optgroup label="Central Time Zone">
                                                    <option value="AL">Alabama</option>
                                                    <option value="AR">Arkansas</option>
                                                    <option value="IL">Illinois</option>
                                                    <option value="IA">Iowa</option>
                                                    <option value="KS">Kansas</option>
                                                    <option value="KY">Kentucky</option>
                                                    <option value="LA">Louisiana</option>
                                                    <option value="MN">Minnesota</option>
                                                    <option value="MS">
                                                        Mississippi
                                                    </option>
                                                    <option value="MO">Missouri</option>
                                                    <option value="OK">Oklahoma</option>
                                                    <option value="SD">
                                                        South Dakota
                                                    </option>
                                                    <option value="TX">Texas</option>
                                                    <option value="TN">Tennessee</option>
                                                    <option value="WI">Wisconsin</option>
                                                </optgroup>
                                                <optgroup label="Eastern Time Zone">
                                                    <option value="CT">
                                                        Connecticut
                                                    </option>
                                                    <option value="DE">Delaware</option>
                                                    <option value="FL">Florida</option>
                                                    <option value="GA">Georgia</option>
                                                    <option value="IN">Indiana</option>
                                                    <option value="ME">Maine</option>
                                                    <option value="MD">Maryland</option>
                                                    <option value="MA">
                                                        Massachusetts
                                                    </option>
                                                    <option value="MI">Michigan</option>
                                                    <option value="NH">
                                                        New Hampshire
                                                    </option>
                                                    <option value="NJ">New Jersey</option>
                                                    <option value="NY">New York</option>
                                                    <option value="NC">
                                                        North Carolina
                                                    </option>
                                                    <option value="OH">Ohio</option>
                                                    <option value="PA">
                                                        Pennsylvania
                                                    </option>
                                                    <option value="RI">
                                                        Rhode Island
                                                    </option>
                                                    <option value="SC">
                                                        South Carolina
                                                    </option>
                                                    <option value="VT">Vermont</option>
                                                    <option value="VA">Virginia</option>
                                                    <option value="WV">
                                                        West Virginia
                                                    </option>
                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.User.CourseId, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(m => m.User.CourseId, new SelectList(Model.Courses, "id", "Title", "1"), new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.User.Payment, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-usd text-primary"></i>
                                                </span>
                                                @Html.TextBoxFor(m => m.User.Payment, new { @class = "form-control", placeholder = "Payment", id = "" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @Html.HiddenFor(m => m.User.id)
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-9">
                                                <input type="submit" class="btn btn-primary" value="Add"> &nbsp;
                                                <input type="reset" class="btn btn-default " value="Reset">
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- col-md-6 -->
        <!--row -->
        <!--row ends-->
    </div>
    <!-- /.content -->
</aside>



@section Scripts{
    <script src="~/Content/vendors/jasny-bootstrap/js/jasny-bootstrap.js" type="text/javascript"></script>
    <script src="~/Content/vendors/iCheck/icheck.js" type="text/javascript"></script>
    <script src="~/Content/vendors/select2/js/select2.min.js" type="text/javascript"></script>
    <script src="~/Content/vendors/bootstrapvalidator/dist/js/bootstrapValidator.js" type="text/javascript"></script>
    <script src="~/Content/vendors/sweetalert/dist/sweetalert2.js" type="text/javascript"></script>
    <script src="~/Scripts/custom_js/add_users.js" type="text/javascript"></script>
}

@section Styles{
    <link type="text/css" href="~/Content/css/custom_css/panel.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/vendors/jasny-bootstrap/css/jasny-bootstrap.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/vendors/iCheck/skins/minimal/blue.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/vendors/select2/css/select2.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/vendors/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/vendors/bootstrapvalidator/dist/css/bootstrapValidator.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/vendors/sweetalert/dist/sweetalert2.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/css/custom_css/add_users.css" rel="stylesheet" />
}

